.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 113px;
  padding-left: 29px;
  padding-right: 54px;

  background-color: var(--color_01);
}

.header__navigation-list {
  display: flex;
  gap: 40px;
}

.header__navigation-item {
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 768px) {
  .header {
    justify-content: center;

    height: 94px;
    padding: 0px;
  }

  .header__navigation {
    display: none;
  }
}
